@font-face {
  font-family: 'Benton';
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/BentonSansLight.woff2") format("woff2"), url("../fonts/BentonSansLight.woff") format("woff"); }

@font-face {
  font-family: 'Benton';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BentonSansBook.woff2") format("woff2"), url("../fonts/BentonSansBook.woff") format("woff"); }

@font-face {
  font-family: 'Benton';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/BentonSansItalic.woff2") format("woff2"), url("../fonts/BentonSansItalic.woff") format("woff"); }

@font-face {
  font-family: 'Benton';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BentonSansBold.woff2") format("woff2"), url("../fonts/BentonSansBold.woff") format("woff"); }

@font-face {
  font-family: 'Benton';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/BentonSansBoldItalic.woff2") format("woff2"), url("../fonts/BentonSansBoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Capitolium Head';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/CapitoliumHeadBold.woff2") format("woff2"), url("../fonts/CapitoliumHeadBold.woff") format("woff"); }

@font-face {
  font-family: 'Capitolium Head';
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/CapitoliumHeadLight.woff2") format("woff2"), url("../fonts/CapitoliumHeadLight.woff") format("woff"); }

@font-face {
  font-family: 'Capitolium Head';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/CapitoliumHeadReg.woff2") format("woff2"), url("../fonts/CapitoliumHeadReg.woff") format("woff"); }

@font-face {
  font-family: 'Capitolium News';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/CapitoliumNewsBold.woff2") format("woff2"), url("../fonts/CapitoliumNewsBold.woff") format("woff"); }

@font-face {
  font-family: 'Capitolium News';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/CapitoliumNewsBoldItalic.woff2") format("woff2"), url("../fonts/CapitoliumNewsBoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Capitolium News';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/CapitoliumNewsItalic.woff2") format("woff2"), url("../fonts/CapitoliumNewsItalic.woff") format("woff"); }

@font-face {
  font-family: 'Capitolium News';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/CapitoliumNewsReg.woff2") format("woff2"), url("../fonts/CapitoliumNewsReg.woff") format("woff"); }

/*
// Hoe het werkt
.testcase {
	@include typogram($b4);
}*/
html, body {
  font-size: 18px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

input {
  font-family: "Capitolium News", "TimesNewRoman", "Times New Roman", "Times", "Baskerville", "Georgia", "serif";
  font-size: 1.05rem;
  line-height: 1.37; }
  @media screen and (min-width: 480px) {
    input {
      font-size: 1.05rem;
      line-height: 1.37; } }
  @media screen and (min-width: 768px) {
    input {
      font-size: 1.11rem;
      line-height: 1.5; } }
  @media screen and (min-width: 992px) {
    input {
      font-size: 1.11rem;
      line-height: 1.5; } }

p {
  font-family: "Capitolium News", "TimesNewRoman", "Times New Roman", "Times", "Baskerville", "Georgia", "serif";
  font-size: 1.05rem;
  line-height: 1.37;
  font-weight: normal;
  letter-spacing: -0.07px;
  margin-bottom: 30px; }
  @media screen and (min-width: 480px) {
    p {
      font-size: 1.05rem;
      line-height: 1.37; } }
  @media screen and (min-width: 768px) {
    p {
      font-size: 1.11rem;
      line-height: 1.5; } }
  @media screen and (min-width: 992px) {
    p {
      font-size: 1.11rem;
      line-height: 1.5; } }

ul, ol {
  list-style-position: inside;
  margin-bottom: 30px; }
  ul li, ol li {
    font-family: "Capitolium News", "TimesNewRoman", "Times New Roman", "Times", "Baskerville", "Georgia", "serif";
    font-size: 1.05rem;
    line-height: 1.37;
    font-weight: normal;
    letter-spacing: -0.07px; }
    @media screen and (min-width: 480px) {
      ul li, ol li {
        font-size: 1.05rem;
        line-height: 1.37; } }
    @media screen and (min-width: 768px) {
      ul li, ol li {
        font-size: 1.11rem;
        line-height: 1.5; } }
    @media screen and (min-width: 992px) {
      ul li, ol li {
        font-size: 1.11rem;
        line-height: 1.5; } }

table {
  font-family: "Benton", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 0.77rem;
  line-height: 1.5; }
  @media screen and (min-width: 480px) {
    table {
      font-size: 0.77rem;
      line-height: 1.5; } }
  @media screen and (min-width: 768px) {
    table {
      font-size: 0.83rem;
      line-height: 1.53; } }
  @media screen and (min-width: 992px) {
    table {
      font-size: 0.83rem;
      line-height: 1.53; } }

h1 {
  font-family: "Capitolium Head", "TimesNewRoman", "Times New Roman", "Times", "Baskerville", "Georgia", "serif";
  font-size: 1.66rem;
  line-height: 1.1;
  font-weight: bold;
  letter-spacing: -.5px;
  margin-bottom: 20px; }
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 1.66rem;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 2.33rem;
      line-height: 1.07; } }
  @media screen and (min-width: 992px) {
    h1 {
      font-size: 2.33rem;
      line-height: 1.07; } }
  @media (max-width: 991px) {
    h1 {
      letter-spacing: -.2px; } }

h2 {
  font-family: "Capitolium Head", "TimesNewRoman", "Times New Roman", "Times", "Baskerville", "Georgia", "serif";
  font-size: 1.66rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 15px; }
  @media screen and (min-width: 480px) {
    h2 {
      font-size: 1.66rem;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 1.77rem;
      line-height: 1.07; } }
  @media screen and (min-width: 992px) {
    h2 {
      font-size: 1.77rem;
      line-height: 1.07; } }

h3 {
  font-family: "Benton", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 1.05rem;
  line-height: 1.21;
  font-weight: bold;
  margin-bottom: 5px; }
  @media screen and (min-width: 480px) {
    h3 {
      font-size: 1.05rem;
      line-height: 1.21; } }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 1.11rem;
      line-height: 1.2; } }
  @media screen and (min-width: 992px) {
    h3 {
      font-size: 1.11rem;
      line-height: 1.2; } }

h4 {
  font-family: "Benton", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 0.77rem;
  line-height: 1.43;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 5px; }
  @media screen and (min-width: 480px) {
    h4 {
      font-size: 0.77rem;
      line-height: 1.43; } }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 0.77rem;
      line-height: 1.43; } }
  @media screen and (min-width: 992px) {
    h4 {
      font-size: 0.77rem;
      line-height: 1.43; } }

h5 {
  font-family: "Benton", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 1.05rem;
  line-height: 1.21;
  font-weight: bold;
  margin-bottom: 5px; }
  @media screen and (min-width: 480px) {
    h5 {
      font-size: 1.05rem;
      line-height: 1.21; } }
  @media screen and (min-width: 768px) {
    h5 {
      font-size: 1.11rem;
      line-height: 1.2; } }
  @media screen and (min-width: 992px) {
    h5 {
      font-size: 1.11rem;
      line-height: 1.2; } }

h6 {
  font-family: "Benton", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 1.05rem;
  line-height: 1.21;
  font-weight: bold;
  margin-bottom: 5px; }
  @media screen and (min-width: 480px) {
    h6 {
      font-size: 1.05rem;
      line-height: 1.21; } }
  @media screen and (min-width: 768px) {
    h6 {
      font-size: 1.11rem;
      line-height: 1.2; } }
  @media screen and (min-width: 992px) {
    h6 {
      font-size: 1.11rem;
      line-height: 1.2; } }

h1, h2, h3, h4, h5, h6 {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: underline; }

figcaption {
  width: 100%;
  font-family: "Benton", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 0.72rem;
  line-height: 1.08;
  font-weight: bold;
  letter-spacing: -0.14px;
  margin-top: 8px; }
  @media screen and (min-width: 480px) {
    figcaption {
      font-size: 0.72rem;
      line-height: 1.08; } }
  @media screen and (min-width: 768px) {
    figcaption {
      font-size: 0.72rem;
      line-height: 1.08; } }
  @media screen and (min-width: 992px) {
    figcaption {
      font-size: 0.72rem;
      line-height: 1.08; } }
  figcaption .caption-credits {
    font-weight: 300;
    color: #9b9b9b; }

blockquote {
  font-family: "Capitolium News", "TimesNewRoman", "Times New Roman", "Times", "Baskerville", "Georgia", "serif";
  font-size: 1.22rem;
  line-height: 1.2;
  font-weight: bold;
  font-style: italic;
  padding-left: 15px;
  border-left: 1px solid #ccc;
  margin-bottom: 30px; }
  @media screen and (min-width: 480px) {
    blockquote {
      font-size: 1.22rem;
      line-height: 1.2; } }
  @media screen and (min-width: 768px) {
    blockquote {
      font-size: 1.38rem;
      line-height: 1.21; } }
  @media screen and (min-width: 992px) {
    blockquote {
      font-size: 1.38rem;
      line-height: 1.21; } }

form legend, form p, form label, form input, form select, form option {
  font-family: "Benton", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 0.88rem;
  line-height: 1; }
  @media screen and (min-width: 480px) {
    form legend, form p, form label, form input, form select, form option {
      font-size: 0.88rem;
      line-height: 1; } }
  @media screen and (min-width: 768px) {
    form legend, form p, form label, form input, form select, form option {
      font-size: 0.88rem;
      line-height: 1; } }
  @media screen and (min-width: 992px) {
    form legend, form p, form label, form input, form select, form option {
      font-size: 0.88rem;
      line-height: 1; } }

code {
  background: #eee;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 0 5px;
  font-size: 20px;
  text-transform: lowercase; }

.top-label {
  width: 100%;
  margin-bottom: 4px; }
  @media (min-width: 768px) {
    .top-label {
      margin-bottom: 10px; } }
  .top-label-type {
    font-weight: bold; }

.lead {
  font-family: "Capitolium Head", "TimesNewRoman", "Times New Roman", "Times", "Baskerville", "Georgia", "serif";
  font-size: 1.22rem;
  line-height: 1.13;
  letter-spacing: -.1px;
  font-weight: 300;
  margin: 22px 0 20px; }
  @media screen and (min-width: 480px) {
    .lead {
      font-size: 1.22rem;
      line-height: 1.13; } }
  @media screen and (min-width: 768px) {
    .lead {
      font-size: 1.33rem;
      line-height: 1.14; } }
  @media screen and (min-width: 992px) {
    .lead {
      font-size: 1.33rem;
      line-height: 1.14; } }
  @media (min-width: 768px) {
    .lead {
      margin: 24px 0 20px; } }

.credits {
  font-family: "Benton", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 0.88rem;
  line-height: 1;
  margin: 20px 0 30px; }
  @media screen and (min-width: 480px) {
    .credits {
      font-size: 0.88rem;
      line-height: 1; } }
  @media screen and (min-width: 768px) {
    .credits {
      font-size: 0.88rem;
      line-height: 1; } }
  @media screen and (min-width: 992px) {
    .credits {
      font-size: 0.88rem;
      line-height: 1; } }
  @media (min-width: 768px) {
    .credits {
      margin: 20px 0 50px; } }
  .credits time {
    margin-left: 2px;
    font-weight: 300; }

.note {
  font-family: "Benton", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 0.77rem;
  line-height: 1.5; }
  @media screen and (min-width: 480px) {
    .note {
      font-size: 0.77rem;
      line-height: 1.5; } }
  @media screen and (min-width: 768px) {
    .note {
      font-size: 0.83rem;
      line-height: 1.53; } }
  @media screen and (min-width: 992px) {
    .note {
      font-size: 0.83rem;
      line-height: 1.53; } }

.code-small {
  font-size: 1.5rem; }
